# Project exclude paths
/api_gateway_server/target/
/api_zuul_server/target/
/common/target/
/entity/target/
/eureka_server/target/
/import_test/target/
/jedis/target/
/order_service/target/
/product_service/target/
/app/target/
/core/target/
/api_gateway_server/api_gateway_server.iml
/api_zuul_server/api_zuul_server.iml
/app/app.iml
/auth-server/target/classes/com/example/authserver/service/MyUserDetailsService.class
/auth-server/target/classes/com/example/authserver/AuthServerApplication.class
/auth-server/target/classes/application.yml
/auth-server/target/test-classes/com/example/authserver/AuthServerApplicationTests.class
/auth-server/auth-server.iml
/auth-server/HELP.md
/common/common.iml
/core/core.iml
/entity/entity.iml
/order_service/order_service.iml
/product_service/product_service.iml
/.idea/dataSources/06eee131-6b62-4256-95e1-960eb173e3ab/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/06eee131-6b62-4256-95e1-960eb173e3ab.xml
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/MyBatisCodeHelperDatasource.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
/browser/browser.iml
/logs/junjie/order/error.log
/logs/junjie/order/info.log
/logs/junjie/order/warn.log
/logs/junjie/product/error.log
/logs/junjie/product/info.log
/logs/junjie/product/warn.log
