<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junjie.product.dao.TestCharVarcharTextMapper">
  <resultMap id="BaseResultMap" type="com.junjie.common.bean.TestCharVarcharText">
    <!--@mbg.generated-->
    <!--@Table test_char_varchar_text-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mychar" jdbcType="CHAR" property="mychar" />
    <result column="myvarchar" jdbcType="VARCHAR" property="myvarchar" />
    <result column="mytext" jdbcType="LONGVARCHAR" property="mytext" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, mychar, myvarchar, mytext
  </sql>
</mapper>